.marquee-container:hover .marquee-content {
    animation-play-state: paused;
 }

.latest-games {
    background: var(--secondary-color);
    border-top: 2px solid var(--secondary-dark-color);
    border-right: 2px solid var(--secondary-dark-color);
}

.latest-games-ticker {
    border-top: 2px solid var(--secondary-color);
}

.latest-games-container {
    box-shadow: 0 -4px 16px 0 var(--secondary-light-color);
}