.games-box {
    font-size: calc(5px + 1vmin);
    color: var(--light-text);

    .message-header {
        background: var(--secondary-color);
    }
    .message-body {
        background: var(--secondary-light-color);
    }
}

.carousel {
    color: var(--dark-text);
  }

.marquee-container:hover .marquee-content {
    animation-play-state: paused;
  }