.carousel {

  color: var(--dark-text);

  .button {
    font-weight: bold;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    background-color: transparent;
  }

  .next-button {
    direction: rtl;
  }
}